{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "ios": "12",
          "safari": "12"
        },
        "useBuiltIns": "usage",
        "corejs": 3
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-proposal-optional-chaining",
    "@babel/plugin-proposal-nullish-coalescing-operator"
  ]
}
